.detail__container {
    width: 100vw;
    /* background: fixed url('https://img.freepik.com/foto-gratis/concepto-banner-supermercado-ingredientes_23-2149421146.jpg?w=1800&t=st=1663982803~exp=1663983403~hmac=3d7138262a78280a5600e787ddc2d47e1fa858147e2e504ccf7517d5d8ecfcc6') no-repeat center; */
    background: fixed url('https://img.freepik.com/foto-gratis/bolsa-hilo-verduras-frutas-sobre-fondo-bicolor_185193-84598.jpg?w=740&t=st=1663982540~exp=1663983140~hmac=8e0b45eddf7e9097dffc6cb10edb00f691790f4cd88c869eab5a1ab8b8599919') no-repeat right;

    background-size: contain;
    color: aliceblue;
    text-shadow: 0 0 7px #000;
    overflow: hidden;
}

.detail__content {
    width: 65%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(6, 4, 3, 0.633);
}

.detail__content-link {
    display: block;
    margin: 0 auto;
}

.detail__content-link>button {
    font-size: 1.7rem;
}

.detail__content-link>button:hover {
    background-color: transparent;
    color: yellowgreen;
    border: 1px solid black;
    transition: all .4s ease-in;
}

.detail__content-title {
    text-align: center;
    font-size: 2.7rem;
    padding: .5rem;
}

.detail__container .detail__content-image {
    display: block;
    margin: 0 auto;
    max-width: 55%;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 #000;
    transition: all 1s;
}

.detail__content-image:hover {
    scale: 1.3;
    box-shadow: 0 0 7px 0 #fff;
}

.detail__content-summary {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.detail__content-summary>a {
    color: yellowgreen;
    background-color: rgba(96, 68, 28, 0.843);
    text-shadow: 0 0 7px #000;
}

.detail__content-steps {
    display: flex;
    width: 100%;
    gap: 10rem;
    margin-bottom: 4rem;
}

.detail__content-steps>ul,
.detail__content-steps>p {
    font-size: 1.2rem;
    width: 50%;
}

.detail__content-steps>p>span {
    color: yellowgreen;
    font-size: 1.4rem;
    background-color: rgba(85, 29, 174, 0.783);
    text-shadow: 0 0 7px #000;
}

.detail__content-steps>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail__content-steps>ul>li {
    text-transform: capitalize;
}

.detail__content-steps>ul>h4 {
    color: yellowgreen;
    background-color: rgba(85, 29, 174, 0.783);
    font-size: 1.7rem;
    margin: 0 0 .5rem 0;
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1028px) {
    .detail__container {
        background: none;
    }

    .detail__content {
        width: 85%;
    }

    .detail__content-link>button {
        font-size: 1.5rem;
    }

    .detail__content-title {
        font-size: 2rem;
    }

    .detail__container .detail__content-image {
        max-width: 85%;
    }

    .detail__content-image:hover {
        scale: 1.2;
    }

    .detail__content-summary {
        font-size: 1rem;
        padding: 0 1rem 0 1rem;
    }

    .detail__content-steps {
        gap: 5rem;
        margin-bottom: 2rem;
    }

    .detail__content-steps>ul>h4 {
        font-size: 1.5rem;
    }
}


/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

@media screen and (max-width: 750px) {
    /* .detail__container {
        background: fixed url(../../assets/image/old-spoon-on-dark-table.jpg) 20%;
        background-size: cover;
    } 
    */

    .detail__content {
        width: auto;
    }

    .detail__content-link>button {
        font-size: 1.5rem;
    }


    .detail__content-title {
        font-size: 1.5rem;
    }

    .detail__content-image {
        width: 100%;
    }

    .detail__content-image:hover {
        scale: 1;
    }

    .detail__content-summary {
        font-size: 1.2rem;
    }

    .detail__content-steps {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;

    }

    .detail__content-steps>ul,
    .detail__content-steps>p {
        font-size: 1rem;
        width: 90%;
        padding: 1rem;
    }

    .detail__content-steps>p {
        line-height: 1.2rem;
    }

    .detail__content-steps>ul {
        align-items: stretch;
        gap: .5rem;
    }

    .detail__content-steps>ul>h4 {
        width: fit-content;
        font-size: 1.2rem;
    }

    .detail__content-stepscontainer {
        margin: 0;
        padding: 0;
    }
}