 .create__container {
     background: fixed url(../../assets/image/tasty-fresh-appetizing-italian-food-ingredients-on-dark-background-ready-to-cook-home-italian-healthy-food-cooking-concept-toning.jpg) bottom;
     background-size: cover;
     height: 100vh;
     padding: 1rem;
     overflow: hidden;
 }

 .create__title {
     color: aliceblue;
     text-align: center;
     margin: .8rem;
     font-size: 3rem;
     text-shadow: 0 0 7px #000;
 }

 .create__button {
     display: block;
     margin: 0 auto;
     border: 1px solid transparent;
     border-radius: 7px;
 }

 .create__button:hover {
     cursor: pointer;
 }

 /* /-----------------------------create denied--------------------------/ */

 .create__container-denied {
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     background: url(../../assets/image/Set_of_smiling_cute_chef_in_different_postures_cartoon_illustration_Premium_Vector.jpg) no-repeat bottom;
     background-size: contain;
     padding-top: 2rem;
 }

 .create__denied {
     color: crimson;
     position: relative;
     text-align: center;
     font-size: 2rem;
 }

 /************************** Form Component ******************************/


 .form__container {
     display: flex;
     flex-direction: column;
     align-items: stretch;
     gap: 1rem;
     width: 45%;
     padding: 2rem;
     border-radius: 20px;
     box-shadow: 0 0 7px black;
     background-color: rgba(115, 106, 106, 0.574);
     color: aliceblue;
     margin: 0 auto;
 }

 .form__container>label>input {
     width: 100%;
     border-radius: 10px;
     border: 1px solid transparent;
     padding: .2rem;
 }

 .form__container>label>textarea {
     border-radius: 10px;
     border: 1px solid transparent;
 }

 .form__container>label {
     font-weight: 600;
 }

 .form__container span {
     color: crimson;
     text-shadow: 0 0 7px black;
     font-weight: 600;
 }

 .form__container .check__label {
     font-size: .9rem;
     font-weight: 200;
     text-transform: capitalize;
 }


 .form__diet-types {
     display: flex;
     flex-wrap: wrap;
     gap: 1rem;
     padding: .5rem;
 }


 .form__summary {
     resize: none;
     width: 100%;
     margin: 0 auto;
     display: block;
     height: 74px;
 }

 /* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

 @media screen and (max-width: 1204px) {
     .create__title {
         font-size: 2.5rem;
     }

     /************************** Form Component ******************************/

     .form__container {
         gap: 1rem;
         width: 65%;
         padding: 1rem;
     }

 }

 /* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

 @media screen and (max-width: 600px) {

     .create__container {
         height: 120vh;
     }

     .create__title {
         font-size: 2rem;
     }


     /* /-----------------------------create denied--------------------------/ */

     .create__denied {
         font-size: 1.5rem;
     }



     /************************** Form Component ******************************/



     .form__container {
         gap: 1rem;
         width: 90%;
     }

     .form__diet-types {
         gap: .5rem;
         padding: 0;
     }
 }