.landing__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  background: fixed url('../../assets/image/frying-pan-empty-with-various-spices-in-black-table.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  color: aliceblue;
  text-shadow: 0 7px 7px black;
}

.landing__container>h1 {
  font-size: 3rem;
  margin: 0;
}

.landing__content {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 75vh;
  gap: 10rem;
}

.landing__content-title {
  font-size: 3.5rem;
}

.landing__content-text {
  width: 50%;
}

.landing__content-text .landing__text {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.6rem;
}


.landing__content-button {
  font-weight: bolder;
  font-size: 1.6rem;
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: 0 0 7px 0 white;
  padding: .4rem;
}

.landing__button {
  position: relative;
  left: 7.5rem;
  top: 2.5rem;
}

.landing__content-button:hover {
  scale: 1.2;
  transition: 1s;
  cursor: pointer;
}

.landgin__profile-btn {
  margin-left: 1rem;
}

/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {

  .landing__content-title {
    font-size: 4rem;
  }

  .landing__button {
    left: 4.5rem;
    top: 2rem;
  }

  .landing__content-button {
    font-size: 1.4rem;
  }

  .landing__content-text .landing__text {
    font-size: 2rem;
    line-height: 1.9rem;
    width: 130%;
  }
}

/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

@media screen and (max-width: 600px) {
  
  .landing__content-title {
    font-size: 2rem;
  }
  .landing__container {
    width: 100vw;
    height: 100vh;
    padding-top: 0rem;
    background: fixed url('../../assets/image/frying-pan-empty-with-various-spices-in-black-table.jpg') 40% 29% no-repeat;
    text-align: center;
    color: aliceblue;
    text-shadow: 0 7px 7px black;
  }

  .landing__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .landing__content-text {
    width: 100vw;
    text-shadow: 0 7px 7px black;
  }
  
  .landing__content-text > h2 { 
    position: relative;
    left: 2rem;
  }


  .landing__content-text .landing__text {
    width: 100%;
    margin: 0;
    position: relative;
    left: 2.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .landing__button {
    position: relative;
    left: 3rem;
    top: 2rem;
  }


}



/* .landing__button {
  font-weight: 900;
  text-shadow: 0 0 2px aliceblue;
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
  filter: drop-shadow(0px 0px 9px #fff);
  background-image: url('../../assets/image/fried-eggs-top-view-removebg-preview.png');
  background-position: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  left: 7.5rem;
  top: 2.5rem;
} */